.rangeSlider {
    position: relative;
    width: 150px;
    height: 20px;
    float: left;
    text-align: center;
}
.rangeSlider input[type=range] {
    -webkit-appearance: none;
    height: 8px;
    pointer-events: none;
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 14px;
    border: 1px solid grey;
    background: transparent;
}
.rangeSlider input[type=range]:focus, .rangeSlider input[type=range]:active {
    outline: none;
    background: transparent;
}
.rangeSlider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: #0075FF;
    cursor: pointer;
    position: relative;
    z-index: 1;

}
.rangeSlider input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: #0075FF;
    cursor: pointer;
    position: relative;
    z-index: 1;

}
.rangeSlider input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: #0075FF;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.rangeSlider input[type=range]::-webkit-slider-runnable-track {
    /* your track styles */
    background: transparent;
    color: transparent;

}
.rangeSlider input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: none;
}
.rangeSlider input[type=range]::-ms-track {
    /* should come after -webkit- */
    border-color: transparent;
    color: transparent;
    background: transparent;
    /* again your track styles */
}
