.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(29, 58, 116, .25);
    backdrop-filter: blur(3px);
    z-index: 1;
    top: 0;
    bottom: 0;
}

@-webkit-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

.spinner circle {
    fill: none;
    stroke: #1d3a74;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 0, 0, 70, 194;
    stroke-dashoffset: 0;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}