.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    gap: 45px;
    height: 600px;
    width: 413px;
    background: #F9F9FE;
    border-radius: 8px;

}

.btnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.55rem;
}