.passwordWrapper {
    display: flex;
    position: relative;
    max-width: 170px;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.eye {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.eye:active {
    top: 2%;
}

.errorInput {
    border: 2px solid #1d3a74;
    background: transparent;
}

.error {
    color: red;
}